body, html{
  background-color: #393a3f;
}

.loader{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.loader_icon{
  width: 3vw;
  height: 3vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: load 1.2s linear infinite;
}

@keyframes load {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.bg-dark1{
  background-color: #393a3f !important;
}

.bg-dark2{
  background-color: #212226 !important;
}

.bg-dark3{
  background-color: #434343 !important;
}

.bg-dark4::after{
  background-color: #212226 !important;
}

.tx-yellow{
  color: #f5b352 !important;
}

.tx-white{
  color: white !important;
}

.card{
  width: 100%;
}

.server-icon{
  width: 30px;
  margin: 10px;
}

.server-status{
  width: 20px;
  height: 20px;
  margin: 10px;
  border-radius: 50%;
  opacity: 0.8;
}

.activate-button{
  width: 100%;
}